body {
    background-color: white;
    color: black
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-image: url(images/Untitled-1.png);
    font-size: 70px;
  }
  

  .odplogo {
    display: block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

  nav {
    display: flex;
    font-family: 'Raleway', sans-serif;
    z-index: 10;
    justify-content: center;
    
  }

  .divNav {
    padding-top: 1em;
    background-color: white;
    margin: auto;
    width: 100px;
    
  }

  p {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    font-size: 20px;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
/*Text align works because it is in a container*/


  .trackName {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
    text-align: center;
}

  .tracks {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 30px;
  }

  .form {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 2em;
    
  }

  .me1 {
    float: right;
  }


header {
  padding-top: 40px;
}

.description {
  padding: 40px;
}

a:link {
  text-decoration: none;
}

a:link, a:visited {
  background-color: white;
  color:black;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
  text-decoration: solid;
}

.DAWImage {
  margin-right: 3em;
  float: left;
}

.description1 {
  margin-left: 40px;

}
.description2 {
  margin-right: 20px;
}

.DAWImageContainer {
  margin: 4em;
}

.me1Container {
  margin: 4em;
}

#turnTable {
  text-align: center;
  object-fit: fill;
  overflow: hidden;
}

.portImage {
  max-width: 100%;
  text-align: center;
  padding-bottom: 2em;
  object-fit: fill;
  overflow: hidden;
}

footer {
  text-align: center;
}

.video {
  text-align: center;
  padding-bottom: 5em;
}

h3 {
  color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-image: url(images/Untitled-1.png);
}

a {
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-image: url(images/Untitled-1.png);
}

.socialLinks {
  text-align: center;
}

ul {
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-image: url(images/Untitled-1.png);
}

.software {
  padding-bottom: 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
  width: 75%;
}

td {
  text-align: center;
}
tr {
  text-align: center;
}